<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>用户</title>
	<link rel="stylesheet" href="css/ui.css" type="text/css" />
	<link rel="stylesheet" href="css/color.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/Table.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/all.js"></script>
	<script src="js/Table.js"></script>

</head>

<body>
	<div id="wrapper">
		<div class="overlay" style="display: none;"></div>
		<!-- 侧边栏 -->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand"> <a href=""> 目录 </a> </li>
				<li> <a id="showItem"> <i class="fa fa-fw fa-home"> </i> 主页 </a> </li>
				<li> <a id="showLoadedItem"> <i class="fa fa-fw fa-table"> </i> 已上架道具 </a> </li>
				<li> <a href="/marketinfo"> <i class="fa fa-fw fa-bank"> </i> 市场 </a> </li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-fw fa-plus"></i> 个人信息 <span class="caret"> </span> </a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header"> </li>
						<li> <a id="updateInfo"> 修改信息 </a> </li>
					</ul>
				</li>
				<li><a id="logout" href="logout"><i class="fa fa-fw fa-folder"></i>登出</a></li>
			</ul>
		</nav>

		<div id="page-content-wrapper">
			<!-- 转换侧边栏状态 -->
			<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>

			<div class="container">
				<div class="row">
					<div>
						<!-- 用户信息 -->
						<div>
							<div>用户:</div>
							<div>
								<span id="userId"
									th:attr="data-id=${session.USER.id},data-account=${session.USER.account}"></span>
							</div>
						</div>
						<hr>

						<!-- 道具 -->
						<div id="user_item">
							道具：<div style="text-align:right;">
								<p>
									种类：<select id="type">
										<option></option>
										<option>手枪</option>
										<option>步枪</option>
										<option>冲锋枪</option>
										<option>霰弹枪</option>
										<option>狙击枪</option>
									</select>
									皮肤：<select id="skin">
										<option></option>
										<option>巨龙传说</option>
										<option>女火神</option>
										<option>阿木木</option>
										<option>水蓝蓝</option>
										<option>火红红</option>
									</select>
									品质：<select id="quality">
										<option></option>
										<option>金色</option>
										<option>紫色</option>
										<option>蓝色</option>
										<option>绿色</option>
										<option>白色</option>
									</select>
									<input id="search" type="button" class="ui-button" value="搜索" data-type="primary">
								</p>
							</div>
							<div class="table-x">
								<table class="ui-table">
									<thead>
										<tr>
											<th hidden="hidden">id</th>
											<th>图片</th>
											<th>种类</th>
											<th>皮肤</th>
											<th>品质</th>
											<th>上架</th>
										</tr>
									</thead>
									<tbody id="itemBody">
									</tbody>
								</table>
								<div class="table-page-x">
									<div class="table-page-data">
										共<output id="rowCount" class="table-page-total"></output>件道具, 每页最多显示
										<output href="javascript:">5</output> 件
									</div>
									<div class="table-page">
										<output id="lastPage">上一页</output>
										<output id="pageCurrent"></output>
										<output id="nextPage">下一页</output>
										<div style="text-align: center;">共 <output id="pageCount"></output> 页</div>
									</div>

								</div>
							</div>

							<!-- 上架按钮弹窗 -->
							<div id="load_bullet" style="display: none;">
								<input type="number" step="0.1" class="ui-input" id="price">
							</div>
						</div>

						<!-- 修改信息 -->
						<div id="updateInfo_form" style="display:none;text-align: center;">
							<fieldset>
								<legend>修改信息</legend>
								<form id="update_form" method="POST" action="">
									<h5>用户名:<input name="name" id="username" class="ui-input" required /></h5><br />
									<h5>新密码:<input name="password" id="password" class="ui-input" required /></h5><br />
									<input id="update" type="button" value="修改" class="ui-button" data-type="primary" />
								</form>
							</fieldset>
						</div>

						<!-- 已上架道具 -->
						<div id="loaded_item" style="display: none;">
							已上架：
							<div class="table-x">
								<table class="ui-table">
									<thead>
										<tr>
											<th hidden="hidden">id</th>
											<th>图片</th>
											<th>种类</th>
											<th>皮肤</th>
											<th>品质</th>
											<th>价格</th>
											<th>下架</th>
											<th>修改价格</th>
										</tr>
									</thead>
									<tbody id="loaded-itemBody">
									</tbody>
								</table>
								<div class="table-page-x">
									<div class="table-page-data">
										共<output id="loaded-rowCount" class="table-page-total"></output>件道具, 每页最多显示
										<output href="javascript:">5</output> 件
									</div>
									<div class="table-page">
										<output id="loaded-lastPage">上一页</output>
										<output id="loaded-pageCurrent"></output>
										<output id="loaded-nextPage">下一页</output>
										<div style="text-align: center;">共 <output id="loaded-pageCount"></output> 页
										</div>
									</div>

								</div>
							</div>

							<!-- 下架确认弹窗 -->
							<div id="offShelf_bullet" style="display: none;">
							</div>

							<!-- 修改价格弹窗 -->
							<div id="updatePrice_bullet" style="display: none;">
								<input id="update_price" type="number" step="0.1" class="ui-input">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 初始化插件 -->
	<script>
		$(document).ready(function () {
			var trigger = $('.hamburger'),
				overlay = $('.overlay'),
				isClosed = false;

			trigger.click(function () {
				hamburger_cross();
			});

			function hamburger_cross() {
				if (isClosed == true) {
					overlay.hide();
					trigger.removeClass('is-open');
					trigger.addClass('is-closed');
					isClosed = false;
				} else {
					overlay.show();
					trigger.removeClass('is-closed');
					trigger.addClass('is-open');
					isClosed = true;
				}
			}
			$('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
			});
		});

		var eleBtnSearch = document.getElementById("search");
		eleBtnSearch.addEventListener('click', function () {
			var eleAllInput = this.parentElement.querySelectorAll('#search_box');

			eleAllInput.forEach(function (input, index) {
				if (input.value == '') {
					new ErrorTip(input, '尚未输入搜索内容', {
						unique: false
					});
				}
			});
		});

		var eleBtnUpdate = document.getElementById("update");
		eleBtnUpdate.addEventListener('click', function () {
			var eleAllInput = this.parentElement.querySelectorAll('input');

			eleAllInput.forEach(function (input, index) {
				if (input.value == '') {
					new ErrorTip(input, '尚未输入内容', {
						unique: false
					});
				}
			});
		});

		function doCheckPriceInput() {
			var eleBtnConfirm = document.getElementsByClassName("confirm")[0];
			eleBtnConfirm.addEventListener('click', function () {
				var eleAllInput = document.getElementById("price");

				if (eleAllInput.value == '') {
					new ErrorTip(eleAllInput, '尚未输入内容', {
						unique: false
					});
				}

			});
		}

		function doCheckPriceInputAgain() {
			var eleBtnUpdate = document.getElementsByClassName("updatepr")[0];
			eleBtnUpdate.addEventListener('click', function () {
				var eleInput = document.getElementById("update_price");

				if (eleInput.value == '') {
					new ErrorTip(eleInput, '尚未输入内容', {
						unique: false
					});
				}

			});
		}

	</script>
	<script>
		/* 日期格式化 */
		Date.prototype.Format = function (fmt) {
			var o = {
				"M+": this.getMonth() + 1, //月份   
				"d+": this.getDate(), //日   
				"H+": this.getHours(), //小时   
				"m+": this.getMinutes(), //分   
				"s+": this.getSeconds(), //秒   
				"q+": Math.floor((this.getMonth() + 3) / 3), //季度   
				"S": this.getMilliseconds() //毫秒   
			};
			if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
				if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			return fmt;
		}

		//视图切换
		/* 显示道具列表 */
		$("#showItem").click(function () {
			$("#user_item").show();
			$("#updateInfo_form").hide();
			$("#loaded_item").hide();
		});

		/* 显示修改信息界面 */
		$("#updateInfo").click(function () {
			$("#updateInfo_form").show();
			$("#user_item").hide();
			$("#loaded_item").hide();
		});

		/* 显示已上架道具列表 */
		$("#showLoadedItem").click(function () {
			$("#loaded_item").show();
			$("#user_item").hide();
			$("#updateInfo_form").hide();
		})

		//道具
		var account = $("#userId").data("account");
		var user_id = $("#userId").data("id");
		var pageCurrent, type, skin, quality, rowCount, pageCount, pageSize;
		var itemList, res, user_name;

		$(document).ready(function () {
			doGetItems();
			doGetLoadedItems();
			doGetSellerId(user_id);
			getUserName();
		})

		$("#search").click(function () {
			type = $("#type").val();
			skin = $("#skin").val();
			quality = $("#quality").val();
			doSearchItems(type, skin, quality);
		})

		$("#lastPage").click(function () {
			if (pageCurrent == 1) {
				alert("已经是第一页了");
			} else {
				pageCurrent--;
				doGetItems();
			}
		})

		$("#nextPage").click(function () {
			if (pageCurrent == pageCount) {
				alert("已经是最后一页了");
			} else {
				pageCurrent++;
				doGetItems();
			}
		})

		function doGetItems() {
			if (pageCurrent == null) {
				pageCurrent = 1;
			}

			$.ajax({
				url: "stock/doFindPageObjects",
				type: "get",
				dataType: "JSON",
				data: {
					user_id: user_id,
					pageCurrent: pageCurrent,
				},
				success: function (result) {
					itemList = [];
					res = result;
					pageCount = res.data.pageCount;
					rowCount = res.data.rowCount;
					itemList = $.extend(true, [], result.data.records);
					doClearEl("#itemBody");
					doSetItems(itemList);
					doShowPageInfo();
				},
				error: function (result) {
					console.log(result.message);
				}
			})
		}

		function doSearchItems(type, skin, quality) {

			if (pageCurrent == null) {
				pageCurrent = 1;
			}

			$.ajax({
				url: "stock/doFindPageObjects",
				type: "get",
				dataType: "JSON",
				data: {
					user_id: user_id,
					pageCurrent: pageCurrent,
					type: type,
					skin: skin,
					quality: quality
				},
				success: function (result) {
					itemList = [];
					res = result;
					pageCount = res.data.pageCount;
					rowCount = res.data.rowCount;
					itemList = $.extend(true, [], result.data.records);
					doClearEl("#itemBody");
					doSetItems(itemList);
					doShowPageInfo();
				},
				error: function (result) {
					alert("找不到该物品！！！");
					doGetItems();
					$("#type").val("");
					$("#skin").val("");
					$("#quality").val("");
				}
			})
		}

		function doGetSellerId(data) {
			$.ajax({
				url: "seller/id",
				type: "get",
				dataType: "json",
				data: {
					user_id: data
				},
				success: function (result) {
					seller_id = result.data;
				}
			})
		}

		function doShowPageInfo() {
			if (pageCurrent == null) {
				pageCurrent = 1;
			}
			$("#pageCurrent").val(pageCurrent);
			$("#rowCount").val(rowCount);
			$("#pageCount").val(pageCount);
		}

		function doSetItems(data) {
			for (const d of data) {
				$("#itemBody").append(doCreateTr(doCreateHiddenTd(d.item.id) +
					doCreateTd(doCreateImg(d.item.id)) + doCreateTd(d.item.type) +
					doCreateTd(d.item.skin) + doCreateTd(d.item.quality) +
					doCreateTd(doCreateUnLoadButton(d.item.id))));
			}
		}

		function doCreateTr(data) {
			var ttr = "<tr>" + data + "</tr>";
			return ttr;
		}

		function doCreateHiddenTd(data) {
			var thtd = "<td hidden='hidden'>" + data + "</td>";
			return thtd;
		}

		function doCreateTd(data) {
			var ttd = "<td>" + data + "</td>";
			return ttd;
		}

		function doCreateImg(data) {
			var timg = "<img src='picture/" + data + ".jpeg'/>";
			return timg;
		}

		function doCreateUnLoadButton(data) {
			var tbtn = "<input type='button' value='上架' class='ui-button load' data-type='success' item_id=" + data + ">";
			return tbtn;
		}

		function doClearEl(el) {
			$(el).empty();
		}

		//上架
		/* 根据按钮获取其对应的道具id */
		var setPrice_bullet;
		var seller_id, item_id, price, datetime;
		var eleItemBullet = document.getElementById('load_bullet');
		$("#itemBody").on("click", "input", function () {
			item_id = getItemIdByButton(this);

			if (setPrice_bullet) {
				setPrice_bullet.show();
			} else {
				eleItemBullet.style.display = 'block';

				setPrice_bullet = new Dialog({
					title: "设置价格",
					content: eleItemBullet,
					buttons: [{
						events: function (event) {
							doCheckPriceInput();
							if ($("#price").val() != "") {
								price = $("#price").val();
								$("#price").val("");
								datetime = new Date().Format("yyyy-MM-dd HH:mm:ss");
								doPutOnShelf();

								event.dialog.hide();
							}
						},
						className: "confirm"
					}, {}],
					height: 180
				});
			}
		});

		function doPutOnShelf() {
			$.ajax({
				url: "market/doPutOnShelf",
				type: "post",
				dataType: "json",
				data: {
					seller_id: seller_id,
					item_id: item_id,
					price: price,
					datetime: datetime
				},
				success: function (result) {
					pageCurrent = 1;
					doGetItems();
					doGetLoadedItems();
				}
			})
		}

		function getItemIdByButton(data) {
			return $(data).attr("item_id");
		}

		//已上架道具
		var loaded_pageCurrent, loaded_type, loaded_skin,
			loaded_quality, loaded_rowCount, loaded_pageCount, loaded_pageSize;
		var loaded_itemList, loaded_res;

		function doCreateLoadedButton(data) {
			var tbtn = "<input type='button' value='下架' class='ui-button unload' data-type='danger' item_id=" + data + ">";
			return tbtn;
		}

		function doCreateUpdatePriceButton(data) {
			var tubtn = "<input type='button' value='修改价格' class='ui-button updatePrice' data-type='warning' item_id=" + data + ">";
			return tubtn;
		}

		function doSetLoadedItems(data) {
			for (const d of data) {
				$("#loaded-itemBody").append(doCreateTr(doCreateHiddenTd(d.item.id) +
					doCreateTd(doCreateImg(d.item.id)) + doCreateTd(d.item.type) +
					doCreateTd(d.item.skin) + doCreateTd(d.item.quality) +
					doCreateTd(d.price) + doCreateTd(doCreateLoadedButton(d.item.id)) +
					doCreateTd(doCreateUpdatePriceButton(d.item.id))));
			}
		}

		function doGetLoadedItems() {
			if (loaded_pageCurrent == null) {
				loaded_pageCurrent = 1;
			}

			$.ajax({
				url: "market/doFindPageObjectsOnShelf",
				type: "get",
				dataType: "JSON",
				data: {
					user_id: user_id,
					pageCurrent: loaded_pageCurrent,
				},
				success: function (result) {
					loaded_itemList = [];
					loaded_res = result;
					loaded_pageCount = loaded_res.data.pageCount;
					loaded_rowCount = loaded_res.data.rowCount;
					loaded_itemList = $.extend(true, [], result.data.records);
					doClearEl("#loaded-itemBody");
					doSetLoadedItems(loaded_itemList);
					doShowLoadedPageInfo();
				},
				error: function (result) {
					console.log(result.message);
				}
			})
		}

		function doShowLoadedPageInfo() {
			if (loaded_pageCurrent == null) {
				loaded_pageCurrent = 1;
			}
			$("#loaded-pageCurrent").val(loaded_pageCurrent);
			$("#loaded-rowCount").val(loaded_rowCount);
			$("#loaded-pageCount").val(loaded_pageCount);
		}

		//下架
		var offShelf_bullet;
		var eleOffBullet = document.getElementById('offShelf_bullet');
		$("#loaded-itemBody").on("click", "input.unload", function () {
			item_id = getItemIdByButton(this);

			if (offShelf_bullet) {
				offShelf_bullet.show();
			} else {
				eleOffBullet.style.display = 'block';

				offShelf_bullet = new Dialog({
					title: "确定下架吗？",
					content: eleOffBullet,
					buttons: [{
						events: function (event) {
							doOffShelf();
							event.dialog.hide();
						},
						className: "confirm_off"
					}, {}],
					height: 180
				});
			}
		});

		function doOffShelf() {
			$.ajax({
				url: "market/doOffShelf",
				type: "post",
				dataType: "json",
				data: {
					seller_id: seller_id,
					item_id: item_id
				},
				success: function (result) {
					loaded_pageCurrent = 1;
					doGetItems();
					doGetLoadedItems();
				}
			})
		}

		//修改价格
		var updatePrice_bullet;
		var update_price;
		var eleUpdateBullet = document.getElementById('updatePrice_bullet');
		$("#loaded-itemBody").on("click", "input.updatePrice", function () {
			item_id = getItemIdByButton(this);

			if (updatePrice_bullet) {
				updatePrice_bullet.show();
			} else {
				eleUpdateBullet.style.display = 'block';

				updatePrice_bullet = new Dialog({
					title: "修改价格",
					content: eleUpdateBullet,
					buttons: [{
						events: function (event) {
							doCheckPriceInputAgain();
							if ($("#update_price").val() != "") {
								update_price = $("#update_price").val();
								$("#update_price").val("");
								doUpdatePrice();
								event.dialog.hide();
							}
						},
						className: "updatepr"
					}, {}],
					height: 180
				});
			}
		});

		function doUpdatePrice() {
			$.ajax({
				url: "market/doUpdatePriceByKey",
				type: "post",
				dataType: "json",
				data: {
					user_id: user_id,
					item_id: item_id,
					price: update_price
				},
				success: function (result) {
					doGetLoadedItems();
				}
			})
		}

		//修改信息
		$("#update").click(function () {
			var user = {
				id: user_id,
				name: $("#username").val(),
				password: $("#password").val(),
				account: account
			};
			if ($("#username").val() == '' || $("#password").val() == '') {

			} else {
				doUpadateInfo(user);
			}
		})

		function doUpadateInfo(el) {
			$.ajax({
				url: "user/update",
				type: "put",
				dataType: "json",
				data: el,
				success: function (result) {
					alert(result.result);
					$("#username").val("");
					$("#password").val("");
					getUserName();
				}
			})
		}
		function getUserName() {
			$.ajax({
				url: "user/info",
				type: "get",
				dataType: "json",
				data: { id: user_id },
				success: function (result) {
					user_name = result.data.name;
					$("#userId").html(user_name);
				}
			})
		}

	</script>
</body>

</html>