<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>用户</title>
	<link rel="stylesheet" href="css/ui.css" type="text/css" />
	<link rel="stylesheet" href="css/color.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/Follow.js"></script>
	<script src="js/Tips.js"></script>
	<script src="js/ErrorTip.js"></script>
	
</head>

<body>
	<div id="wrapper">
		<div class="overlay" style="display: none;"></div>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand"> <a href=""> 目录 </a> </li>
				<li> <a id="showItem"> <i class="fa fa-fw fa-home"> </i> 主页 </a> </li>
				<li> <a> <i class="fa fa-fw fa-bank"> </i> 市场 </a> </li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-fw fa-plus"></i> 个人信息 <span class="caret"> </span> </a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header"> </li>
						<li> <a id="updateInfo"> 修改信息 </a> </li>
						<li> <a id="updatePwd"> 修改密码 </a> </li>
					</ul>
				</li>
			</ul>
		</nav>

		<div id="page-content-wrapper">
			<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>

			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div>
							<div>用户:</div>
							<div id="userId">
								<span th:text="${session.USER.name}" th:attr="data-id=${session.USER.id}"></span>
							</div>
						</div>
						<hr>

						<div id="user_item">
							道具：<div style="text-align:right;">
								<input id="search_box" type="search" class="ui-input" required>
								<input id="search" type="button" class="ui-button" value="搜索" data-type="primary">
							</div>
							<table class="ui-table">
								<thead>
									<tr>
										<th>id</th>
										<th>种类</th>
										<th>皮肤</th>
										<th>品质</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="updateInfo_form" style="display:none;text-align: center;">
							<fieldset>
								<legend>修改信息</legend>
								<form method="POST" action="">
									<h5>用户名:<input class="ui-input" required /></h5><br />
									<input id="update" type="button" value="修改" class="ui-button" data-type="primary" />
								</form>
							</fieldset>
						</div>

						<div id="updatePwd_form" style="display:none;text-align: center;">
							<fieldset>
								<legend>修改密码</legend>
								<form method="POST" action="">
									<h5>旧密码:<input class="ui-input" required /></h5><br />
									<h5>新密码:<input class="ui-input" required /></h5><br />
									<h5>确认密码:<input class="ui-input" required /></h5><br />
									<input id="updatepwd" type="button" value="修改" class="ui-button" data-type="primary" />
								</form>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 初始化插件 -->
	<script>
		$(document).ready(function () {
			var trigger = $('.hamburger'),
				overlay = $('.overlay'),
				isClosed = false;

			trigger.click(function () {
				hamburger_cross();
			});

			function hamburger_cross() {
				if (isClosed == true) {
					overlay.hide();
					trigger.removeClass('is-open');
					trigger.addClass('is-closed');
					isClosed = false;
				} else {
					overlay.show();
					trigger.removeClass('is-closed');
					trigger.addClass('is-open');
					isClosed = true;
				}
			}
			$('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
			});
		});
	</script>
	<script>
		$("#showItem").click(function () {
			$("#user_item").show();
			$("#updateInfo_form").hide();
			$("#updatePwd_form").hide();
		});

		$("#updateInfo").click(function () {
			$("#updateInfo_form").show();
			$("#user_item").hide();
			$("#updatePwd_form").hide();
		});

		$("#updatePwd").click(function () {
			$("#updateInfo_form").hide();
			$("#user_item").hide();
			$("#updatePwd_form").show();
		})

		var eleBtnSearch = document.getElementById("search");
		eleBtnSearch.addEventListener('click', function () {
			var eleAllInput = this.parentElement.querySelectorAll('#search_box');

			eleAllInput.forEach(function (input, index) {
				if (input.value == '') {
					new ErrorTip(input, '尚未输入搜索内容', {
						unique: false
					});
				}
			});
		});

		var eleBtnSearch = document.getElementById("update");
		eleBtnSearch.addEventListener('click', function () {
			var eleAllInput = this.parentElement.querySelectorAll('input');

			eleAllInput.forEach(function (input, index) {
				if (input.value == '') {
					new ErrorTip(input, '尚未输入内容', {
						unique: false
					});
				}
			});
		});

		var eleBtnSearch = document.getElementById("updatepwd");
		eleBtnSearch.addEventListener('click', function () {
			var eleAllInput = this.parentElement.querySelectorAll('input');

			eleAllInput.forEach(function (input, index) {
				if (input.value == '') {
					new ErrorTip(input, '尚未输入内容', {
						unique: false
					});
				}
			});
		});

	</script>
</body>

</html>